.icon {
    max-height: 40%;
    cursor: pointer;
}

.overlaytitle {
    color: white;
    font-family: 'LEMON MILK', sans-serif;
    font-weight: bold;
    font-size: 25pt;
    white-space: nowrap;
    padding-bottom: 20pt;
    text-align: center;
}

table.overlaytable {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

/* .overlaytable tr{
    line-height: 100px;
} */