.icon {
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.overlaytitle {
    color: white;
    font-family: 'LEMON MILK', sans-serif;
    font-weight: bold;
    font-size: 25pt;
    white-space: nowrap;
    padding-bottom: 20pt;
    text-align: center;
}

.overlaytitle2 {
    color: black;
    font-family: 'LEMON MILK', sans-serif;
    font-weight: bold;
    font-size: 25pt;
    white-space: nowrap;
    padding-bottom: 20pt;
    text-align: center;
}

.overlaysubtitle {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
}

.overlaysubtitle2 {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
}

table.overlaytable {
    margin-left: auto;
    margin-right: auto;
}

.button2 {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 200px;
    height: 50px;
    background: #704685;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 14pt;
}

.button2:hover { 
    background: #8f709e; 
    color: white; 
}

.button3 {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 150px;
    height: 50px;
    background: #582D68;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 10pt;
    margin-top: 50px;
    
}

.button3:hover { 
    background: #8f709e; 
    color: white; 
}


.start_filtering {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 200px;
        height: 47px;
        background: #815b8d;
        border-radius: 25px;
        cursor: pointer;
        text-align: center;
        font-family: "Lato", sans-serif;
        font-size: 13pt;
}

.start_filtering:hover { 
    background: #9c83a8; 
    color: white; 
}

.hello {
    margin-top: 10px;
    margin-left: 4%;
}

br {
    margin: 0 0 0 0;
}

