.caption{
    fill:#444;
    font-weight: 400;
    text-shadow:1px 1px 0 #fff;
    font-size: 15px;
    text-align: center;
    z-index: 100;
    font-family: "Lato", sans-serif;
}

.radar_chart {
    margin-top: 2%;
    margin-left: 5%;
    position: static;
    text-align: center;
}

.shape {
    fill-opacity: 0.7;
}

.shape:hover {
    fill-opacity: 1;
}

.radar_chart_explain {
    white-space: nowrap;
    vertical-align: top;
    font-family: "Lato", sans-serif;
    font-weight: 1000;
    font-size: 25px;
    text-align: center;
    padding-left: 50px;
}

.detail_pic {
    width: 600px;
}