.caption{
    fill:#444;
    font-weight: 400;
    text-shadow:1px 1px 0 #fff;
    font-size: 15px;
    text-align: center;
    z-index: 100;
    font-family: "Lato", sans-serif;
}

.radar_chart {
    margin-top: 6.0%;
    margin-left: 10%;
}

.shape {
    fill-opacity: 0.7;
}

.shape:hover {
    fill-opacity: 1;
}
